.hero-container {
  min-height: 100vh;
  background-color: #eceff1;
  transform-origin: 50% 90%;
  transition: all 200ms linear;
  
}

.hero-title-container{
  /* display: grid;
  place-items: center; */
  padding: 4rem 2rem 0 2rem;
}



.hero-container h1 {
  width: 100%;
  font-size: 16rem;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

.developer,
.creative {
  width: 100%;
  perspective: 270px;
  text-align: center;
}

.developer-first,
.developer-second,
.creative-first,
.creative-second {
  transform-style: preserve-3d;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.developer-first > span,
.developer-second > span,
.creative-first > span,
.creative-second > span {
  display: inline-block;
}

.developer-first,
.creative-first {
  transform: rotateY(7deg);
}
.developer-second,
.creative-second {
  transform: rotateY(-7deg);
}

.developer-letter-bg-1,
.developer-letter-bg-2,
.creative-letter-bg-1,
.creative-letter-bg-2 {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 500ms ease-out;
  border-radius: 4px;
}

.developer-letter-bg-1,
.creative-letter-bg-1 {
  left: 0;
}

.developer-letter-bg-2,
.creative-letter-bg-2 {
  left: 100%;
}


.based-in{
  width: fit-content;
  margin-left: auto;
  margin-right: 5rem;
  margin-top: -2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}
