.skills-container {
  height: 100vh;
  padding: 2rem 0;
  display: grid;
  place-items: center;
  background-color: #eceff1;
  /* border-bottom-left-radius: 100% 0%; */
  /* border-bottom-right-radius: 50%; */
  transform-origin: 50% 90%;
  transition: transform 275ms linear, opacity 275ms linear;
  background-color: #131313;
}

.skills-title-container {
  border: 1px solid;
  padding: 1rem 2.5rem;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4rem;
  clip-path: polygon(0 0, 100% 24%, 100% 95%, 0 85%);
  background: #000000d5;
  color: #777777;
  position: relative;

}

.skills-title-container h2 {
  font-size: 3rem;
  font-weight: 600;
}

.skills-container .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  padding: 5px;
  color: #777777;
}

.skills-container .first,
.second,
.third {
  height: 100%;
}

.skills-container .first,
.second,
.third,
.fourth {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}
.skills-container .first-1,
.second-1,
.third-1,
.fourth-1 {
  border: 1px solid;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 500;
  height: fit-content;
}

.skills-container .first-2,
.second-2,
.third-2,
.fourth-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skills-container .grid-container span {
  border: 1px solid;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  flex-grow: 1;
  min-width: 25%;
  text-align: center;
}

.skills-container .first-2,
.third-2,
.fourth-2 {
  flex-direction: column;
}

.skills-container img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .skills-title-container{
    margin-bottom: 2rem;
  }
}


@media (max-width: 992px) {
  .skills-container{
    height: auto;
  }

  
    .skills-container .grid-container {
        grid-template-columns: repeat(1, 1fr);
      }
}