.about-container {
  height: calc(100vh);
  position: relative;
  background-color: #131313;


  transform-origin: 50% 90%;
  transition: transform 275ms linear, opacity 275ms linear;
 
  overflow: hidden;
}



.about-info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.about-info-center {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0.5rem;
}

.about-info-center > :nth-child(1) {
  color: #777777;
  align-self: flex-start;
  font-size: max(0.8rem, 1.3vw);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.about-info {
  color: #777777;
 
  font-size: max(0.8rem, 2.6vw);
  font-weight: 900;
  letter-spacing: 0.2rem;
  width: 100%;
  position: relative;
}

.about-info > span {
  display: inline-block;
  position: relative;
}

.about-info > span::before {
  content: "";
  width: 150vw;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.about-info > span:hover::before {
  height: 100%;
}

.about-socials {
  list-style: none;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 25vw;
  width: max(200px, 25vw);
}

.about-socials li > a {
  display: inline-block;
  font-size: 1.5vw;
  font-size: max(0.8rem, 1.4vw);
  width: 100%;
  height: 100%;
  padding: 0.2rem 0.8rem 0.2rem 0;
  width: 100%;
  color: #777777;
}

.about-socials li {
  position: relative;
  transition: all 300ms;
  width: 100%;
}

.about-socials li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-140%, -50%);
  width: 18px;
  height: 18px;
  background-color: #EB5939;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}

.about-socials .mask {
  width: 100%;
  height: 100%;
  background: #EB5939;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.8rem !important;
  clip-path: inset(50% 0 50% 0);

  transition: clip-path 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.about-socials li:hover .mask {
  clip-path: inset(0 0 0 0);
}

.resume-mask {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.resume-mask a{
  color: #000;
  display: inline-block;
  font-size: 1.5vw;
  font-size: max(0.8rem, 1.4vw);
  width: 100%;
  height: 100%;
  padding: 0.1rem 0.8rem 0.1rem 0;
  width: 100%;
}

.resume-mask a:first-child {
  border-right: 1px solid;
}
.resume-mask a:last-child {
  padding-left: 0.8rem;
}

.cube-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scene {
  width: 400px;
  height: 400px;

  perspective: 700px;
}

.cube {
  width: 400px;
  height: 400px;

  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-200px);
  animation: spinCube 30s infinite linear;
}

@keyframes spinCube {
  0% {
    transform: translateZ(-200px) rotateX(0deg) rotateY(0deg);
  }
  14.29% {
    transform: translateZ(-200px) rotateY(90deg);
  }
  28.58% {
    transform: translateZ(-200px) rotateY(180deg);
  }
  42.87% {
    transform: translateZ(-200px) rotateY(270deg);
  }
  57.16% {
    transform: translateZ(-200px) rotateX(90deg);
  }
  71.45% {
    transform: translateZ(-200px) rotateX(180deg);
  }
  85.74% {
    transform: translateZ(-200px) rotateX(270deg);
  }
  100% {
    transform: translateZ(-200px) rotateX(360deg);
  }
}

.cube img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.cube__face {
  position: absolute;

  width: 400px;
  height: 400px;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(220px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(220px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(220px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(220px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(220px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(220px);
}

.cube.is-backface-hidden .cube__face {
  backface-visibility: hidden;
}



@media (max-width: 1024px){
  .about-info-center{
    max-width: 750px;
  }
}