:root {
  --max-width: 1400px;
  --nav-bg: #a3a59e;
  --primary-bg: #0a2647;
  --black-white-bg: #131313;
  --fz-400: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
}

/* lenis recommended */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
/* lenis end */

a {
  color: inherit;
  text-decoration: none;
}

.center-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0.5rem;
}

button {
  background-color: transparent;
  border: none;
  font: inherit;
  color: #fff;
}

.isLoaderShow {
  transform: translateY(0%);
}

.loader .text-wrap {
  position: relative;
}

.loader .text-wrap > h1 {
  font-size: 6rem;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.loader .text-wrap .first {
  color: #fff;
}
.loader .text-wrap .last {
  color: #777;
  transition: clip-path 2s linear, -webkit-clip-path 2s linear;
}

.loader .text-wrap .last.startCliping {
  animation: clipPath 2s linear 1 forwards;
}

#root,
#__next {
  isolation: isolate;
}

@keyframes clipPath {
  from {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
  }
}
