footer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.footer-color-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #0a2647;
  overflow: hidden;
  isolation: isolate;
}

/* background gradient */
.footer-color-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  background-blend-mode: overlay;
  mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
}

.footer-center-wrapper {
  display: grid;
  gap: 6rem;
  max-inline-size: 1400px;
  height: 100%;
  margin-inline: auto;
  padding: 4rem 0.8rem;
}

.section-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

.footer-info > h6 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  line-height: 1;
  font-weight: 600;
}

.footer-info > p {
  max-inline-size: 50ch;
  margin-block-start: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.section-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-bottom-first {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
}

.section-bottom-first > div {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-block-start: 2rem;
  padding-inline-end: 2rem;
}

.footer-email-wrapper,
.footer-number-wrapper {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.8rem 1rem;
  border-top-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

.section-bottom-first > div > div:first-child {
  font-size: 1.3rem;
  font-weight: 500;
  margin-block-end: 0.6rem;
  text-transform: uppercase;
}

.footer-social-btns-wrapper {
  display: flex;
  gap: 1rem;
}

.footer-social-btns-wrapper img {
  width: 32px;
  height: 32px;
}

/* 3d cube styles */
.cube-wrapper {
  place-self: center;
}

.scene {
  width: 320px;
  height: 320px;

  perspective: 700px;
}

.cube {
  width: 320px;
  height: 320px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-175px);
  animation: spinCube 30s infinite linear;
}

@keyframes spinCube {
  0% {
    transform: translateZ(-175px) rotateX(0deg) rotateY(0deg);
  }
  14.29% {
    transform: translateZ(-175px) rotateY(90deg);
  }
  28.58% {
    transform: translateZ(-175px) rotateY(180deg);
  }
  42.87% {
    transform: translateZ(-175px) rotateY(270deg);
  }
  57.16% {
    transform: translateZ(-175px) rotateX(90deg);
  }
  71.45% {
    transform: translateZ(-175px) rotateX(180deg);
  }
  85.74% {
    transform: translateZ(-175px) rotateX(270deg);
  }
  100% {
    transform: translateZ(-175px) rotateX(360deg);
  }
}

.cube img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.cube__face {
  position: absolute;

  width: 320px;
  height: 320px;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(175px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(175px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(175px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(175px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(175px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(175px);
}

.cube.is-backface-hidden .cube__face {
  backface-visibility: hidden;
}
/* 3d cube styles ends */

/* laptop */
@media (max-width: 1024px) {
  .section-bottom-first {
    gap: 2rem;
  }

  .footer-center-wrapper {
    gap: 1rem;
    padding: 1rem 0.8rem;
  }

  .footer-info > p {
    font-size: 1.3rem;
  }
}

/* tablet */
@media (max-width: 768px) {
  .footer-center-wrapper {
    gap: 1rem;
    padding: 1.5rem 0.8rem;
  }

  .section-top {
    grid-template-columns: 1fr;
  }

  .cube-wrapper {
    display: none;
  }

  .footer-info > p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-block-start: 1rem;
  }

  .section-bottom-first > div > div:first-child {
    font-size: 1.1rem;
  }

  .footer-email-wrapper {
    font-size: 1.1rem;
  }

  .section-bottom-first {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-bottom-first > div:nth-child(2) {
    display: none;
  }
}
