footer {
  height: 100vh;
  background-color: #131313;
  color: #777777;
  transform-origin: 50% 90%;
  transition: all 200ms linear;
}

.footer-img-wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  transform-origin: center;
  animation: footer-star-rotate 14s linear infinite forwards;
}

@keyframes footer-star-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-img-wrapper:hover {
  animation-duration: 5s;
}

.footer-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  animation: footer-img 10s linear infinite forwards;
}

@keyframes footer-img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.footer-first {
  height: calc(100% - 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-img-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-email-link {
  font-size: max(1.2rem, 3vw);
  font-style: italic;
  font-weight: 600;
  display: block;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.footer-first p {
  margin: 0.5rem auto 0 auto;
  font-size: max(1.2rem, 2.2vw);
  line-height: 1.6;
  font-style: italic;
}

.footer-last {
  height: calc(100% - 90%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
}

.footer-last-socials {
  display: flex;
  gap: 2rem;
}

.footer-last-socials a {
  display: inline-block;
  font-size: 1.1rem;
  text-transform: uppercase;
}

@media (max-width: 992px){
  .footer-last-socials {
    gap: 1rem;
  }
  .footer-last-socials a {
    font-size: 1rem;
  }
  .footer-last {
    
    padding: 1rem;
  }
}
